<section class="news-letter-section">
  <div class="container">
    <div class="news-letter-main">
      <div class="news-letter-sub-left">
        <h1>{{ dynamicConstentData.newsLetterHeading }}</h1>
      </div>
      <form action="">
        <div class="news-letter-sub-right">
          <div class="input-container">
            <i class="fas fa-envelope"></i>
            <input name="email" id="email" type="email" placeholder="Enter your email address">
          </div>
          <div class="input-btn">
            <button type="submit">{{ dynamicConstentData.newsLetterBtn }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="wave wave-one"></div>
  <div class="wave wave-two"></div>
  <div class="wave wave-three"></div>
  <div class="wave wave-four"></div>
</section>
