<main-header></main-header>
<div class="not-found-area">
  <div class="not-found-main">
      <div class="not-found-top">
        <h1>{{ dynamicConstentData.notFoundHeading }}</h1>
      </div>
      <div class="not-found-img">
        <img src="assets/SVG-Animation-404-Page.gif" alt="not fonnd" />
      </div>
      <div class="not-found-bottom">
        <h3>{{ dynamicConstentData.NotFonudSubHeading }}</h3>
        <p>{{ dynamicConstentData.NotFoundContent }}</p>
        <a routerLink="/">
          <button>{{ dynamicConstentData.goToHomeBtn }}</button>
        </a>
      </div>
  </div>
</div>
<web-main-footer></web-main-footer>
