//SME Banner Section
.product-crm-banner-section {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 150px 20px;
    height: 92vh;
    background:linear-gradient(to right, #E3DFFD, #7656F0);
    overflow: hidden;
    margin-top: 75px;
  }
  .product-crm-main {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
  }
  .product-crm-sub-upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    .heading-content {
      position: relative;
      text-align: left;
      padding: 35px;
      .image-content {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
        .crm-image {
          display: block;
          img {
            width: 30px;
            height: auto;
          }
        }
        .content {
          h1 {
            font-family: "Manrope", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #7656F0;
            padding: 0;
            text-align: left;
          }
        }
      }
  
      h1 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: rgb(20, 18, 18);
        text-align: left;
        padding-bottom: 35px;
        margin: 0;
        max-width: 400px;
      }
      h2 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 60px;
        text-align: left;
        color: rgba(45, 44, 44, 0.9);
        margin: 0;
        max-width: 600px;
        margin-bottom: 50px;
      }
      .explore-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: white;
        background: #7656F0;
        border-radius: 61px;
        width: 210px;
        padding: 13px 0px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover {
          outline: none;
          background: #7556f0b8 radial-gradient(circle, transparent 1%, #7656F0)
            center/15000%;
        }
        button {
          font-family: "Public Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
        }
        i {
          font-size: 16px;
        }
      }
    }
    .image-portion {
      .crm-data-image {
        z-index: 1;
        background: rgba(255, 255, 255, 0.24);
        border-radius: 20px;
        max-width: 600px;
        width: 100%;
        padding: 35px;
        img {
          display: block;
          margin: 0 auto;
          height: auto;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .product-crm-banner-section {
      padding: 90px 20px;
      margin-top: 60px;
      height: 92vh;
    }
    .product-crm-sub-upper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 120px 0;
      .heading-content {
        padding: 30px;
        .image-content {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 7px;
          padding-bottom: 15px;
          .crm-image {
            display: block;
            max-width: 35px;
            width: 100%;
          }
          .content {
            h1 {
              font-size: 18px;
              line-height: 22px;
            }
          }
        }
  
        h1 {
          font-size: 16px;
          line-height: 22px;
          padding-bottom: 20px;
          max-width: 250px;
          margin: 0;
        }
        h2 {
          font-size: 32px;
          line-height: 40px;
          max-width: 400px;
          margin-bottom: 30px;
        }
        .explore-btn {
          border-radius: 50px;
          width: 150px;
          padding: 10px 0px;
  
          button {
            font-size: 14px;
            line-height: 16px;
          }
          i {
            font-size: 14px;
          }
        }
      }
      .image-portion {
        .crm-data-image {
          max-width: 500px;
          padding: 20px;
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
  @media (max-width: 600px) {
    .product-crm-banner-section {
      padding: 60px 15px;
      margin-top: 50px;
      height: 100vh;
    }
    .product-crm-sub-upper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 40px;
      justify-content: start;
      align-items: center;
      padding: 50px 0;
      .heading-content {
        padding: 10px;
        .image-content {
          gap: 5px;
          padding-bottom: 20px;
          .crm-image {
            display: block;
            width: 100%;
            max-width: 25px;
          }
          .content {
            h1 {
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
        h1 {
          font-size: 14px;
          line-height: 22px;
          padding-bottom: 12px;
          max-width: 250px;
          padding-bottom: 15px;
        }
        h2 {
          font-weight: 400;
          font-size: 22px;
          line-height: 30px;
          max-width: 300px;
        }
        .explore-btn {
          border-radius: 40px;
          width: 120px;
          padding: 8px 0px;
          button {
            font-size: 12px;
            line-height: 14px;
          }
          i {
            font-size: 12px;
          }
        }
      }
  
      .image-portion {
        .crm-data-image {
          border-radius: 20px;
          max-width: 400px;
          padding: 20px;
          img {
            display: block;
          }
        }
      }
    }
  }
  
  //SME Product Details
  .produt-details-crm {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 100px 20px 45px 20px;
    overflow: hidden;
  }
  .product-details-main {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
  }
  .product-sub-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: start;
    align-items: center;
    padding: 50px;
  
    &:nth-child(1) .product-details-right .image-portion .crm-data-image {
      background: rgba(197, 122, 69, 0.24);
    }
  
    &:nth-child(2) .product-details-right .image-portion .crm-data-image {
      background: #b3121234;
    }
    &:nth-child(3) .product-details-right .image-portion .crm-data-image {
      background: rgba(150, 169, 255, 0.24);
    }
  
    .product-details-right {
      order: 1;
      .image-portion {
        .crm-data-image {
          z-index: 1;
          border-radius: 20px;
          max-width: 550px;
          padding: 35px;
          img {
            width: 100%;
            display: block;
            margin: 0 auto;
            height: auto;
          }
        }
      }
    }
    .product-details-left {
      h1 {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
        text-align: left;
        margin: 0;
        max-width: 600px;
        margin-bottom: 10px;
      }
      h2 {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #c57ee9;
        text-align: left;
        padding-bottom: 30px;
        margin: 0;
        max-width: 400px;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0;
        max-width: 550px;
      }
    }
  }
  
  @media (max-width: 1100px) {
    .produt-details-crm {
      padding: 75px 20px 30px 20px;
    }
    .product-sub-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-content: start;
      align-items: center;
      padding: 35px;
      .product-details-right {
        .image-portion {
          .crm-data-image {
            max-width: 350px;
            padding: 20px;
          }
        }
      }
      .product-details-left {
        h1 {
          font-size: 32px;
          line-height: 34px;
          max-width: 400px;
          margin-bottom: 7px;
        }
        h2 {
          font-size: 18px;
          line-height: 22px;
          padding-bottom: 20px;
          max-width: 300px;
        }
        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 0;
          max-width: 350px;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .produt-details-crm {
      padding: 60px 15px 10px 15px;
    }
    .product-sub-content {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: left;
      align-items: center;
      gap: 20px;
      padding: 20px;
      .product-details-right {
        order: 2;
        margin: 20px auto;
        .image-portion {
          .crm-data-image {
            max-width: 350px;
            padding: 20px;
          }
        }
      }
      .product-details-left {
        order: 1;
        margin: 0 auto;
        h1 {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 7px;
        }
        h2 {
          font-size: 16px;
          line-height: 20px;
          padding-bottom: 15px;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
  .product-details-left.order-even {
    order: 2;
  }
  
  .product-details-right.order-even {
    order: 1;
  }
  
  .product-details-left.order-odd {
    order: 1;
  }
  
  .product-details-right.order-odd {
    order: 2;
  }
  
  //SME Accordian FAQ
  
  .crm-inquary-section {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 20px 100px 20px;
    overflow: hidden;
  }
  .crm-inquary-main {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .crm-inquary-main-left {
    padding: 35px;
    .accordion {
      max-width: 550px;
      width: 100%;
      .accordion-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        margin-bottom: 10px;
        .accordion-heading {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px 15px;
          background-color: transparent;
          cursor: pointer;
          h1 {
            flex: 1;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: rgba(0, 0, 0, 0.6);
            margin: 0;
          }
          .arrow-icon {
            transition: transform 0.5s;
          }
          i {
            color: rgba(0, 0, 0, 0.56);
          }
        }
        .accordion-content {
          padding: 25px 15px;
          max-height: 1000px;
          transition: max-height 0.3s ease;
          p {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            margin: 0;
          }
        }
      }
    }
  }
  .crm-inquary-main-right {
    .image-portion {
      .crm-data-image {
        z-index: 1;
        background: #609ea228;
        border-radius: 20px;
        width: 100%;
        max-width: 550px;
        padding: 35px;
        img {
          display: block;
          margin: 0 auto;
          height: auto;
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .crm-inquary-section {
      padding: 0 20px 75px 20px;
    }
    .crm-inquary-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
    .crm-inquary-main-left {
      padding: 10px;
      .accordion {
        max-width: 550px;
        width: 100%;
        .accordion-item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.24);
          margin-bottom: 10px;
          .accordion-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 10px;
            background-color: transparent;
            cursor: pointer;
            h1 {
              flex: 1;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
            }
            .arrow-icon {
              transition: transform 0.5s;
            }
            i {
              font-size: 16px;
              color: rgba(0, 0, 0, 0.56);
            }
          }
          .accordion-content {
            padding: 15px 10px;
            p {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              margin: 0;
            }
          }
        }
      }
    }
    .crm-inquary-main-right {
      .image-portion {
        .crm-data-image {
          max-width: 400px;
          padding: 20px;
        }
      }
    }
  }
  @media (max-width: 700px) {
    .crm-inquary-section {
      padding: 0 15px 60px 15px;
    }
    .crm-inquary-main {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
    .crm-inquary-main-left {
      padding: 0;
      .accordion {
        margin: 0 auto;
        .accordion-item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.24);
          margin-bottom: 10px;
          .accordion-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 10px;
            background-color: transparent;
            cursor: pointer;
            h1 {
              flex: 1;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
            }
            .arrow-icon {
              transition: transform 0.5s;
            }
            i {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.56);
            }
          }
          .accordion-content {
            padding: 15px 10px;
            p {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              margin: 0;
            }
          }
        }
      }
    }
    .crm-inquary-main-right {
      margin: 0 auto;
      .image-portion {
        .crm-data-image {
          max-width: 400px;
          padding: 20px;
        }
      }
    }
  }
  //more product section
  .more-product-banner-section {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 120px 20px;
    overflow: hidden;
    background:linear-gradient(to right, #1b5f87, #242881);
  }
  .more-product-banner-main {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
  }
  .heading-content {
    padding-bottom: 75px;
    h1 {
      color: #fff;
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 60px;
      margin: 0;
    }
  }
  .more-product-banner-main-content {
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
  
    .product-cart {
      max-width: 285px;
      width: 100%;
      height: auto;
      background: #fff;
      border-top: 1px solid #1fc9ff;
      border-bottom: 1px solid #1fc9ff;
      border-right: 1px solid #ff1fc7;
      border-left: 1px solid #ff1fc7;
      border-radius: 5px;
      padding: 30px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 0px 8px 24px 0 rgba(29, 140, 242, 0.32);
      &:hover {
        transform: scale(1.02);
        background: rgb(213, 223, 255);
      }
      .image-content {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
        padding-bottom: 25px;
        .crm-image {
          max-width: 35px;
          display: block;
          img {
            height: auto;
          }
        }
        .content {
          h1 {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 19px;
            color: #040673;
            padding: 0;
            text-align: left;
          }
        }
      }
      h2 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #001014;
        max-width: 600px;
        margin: 0;
        padding-bottom: 25px;
        max-width: 200px;
      }
      p {
        font-family: "Manrope", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.8);
        margin: 0;
        padding-bottom: 30px;
      }
  
      .explore-btn {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #3d7eff;
        cursor: pointer;
        transition: background-color 0.5s ease, color 0.5s ease;
        &:hover {
          color: black !important;
          i {
            color: black !important;
          }
        }
        button {
          font-family: "Manrope", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          gap: 10px;
        }
        i {
          color: #3d7eff;
          font-size: 16px;
        }
      }
    }
  }
  
  @media (max-width: 1100px) {
    .more-product-banner-section {
      padding: 100px 20px;
    }
    .heading-content {
      padding-bottom: 65px;
      h1 {
        font-size: 36px;
        line-height: 40px;
      }
    }
    .more-product-banner-main-content {
      max-width: 600px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      .product-cart {
        max-width: 300px;
        padding: 30px;
        .image-content {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 15px;
          padding-bottom: 20px;
          .crm-image {
            max-width: 30px;
            display: block;
            img {
              height: auto;
            }
          }
          .content {
            h1 {
              font-size: 16px;
              line-height: 19px;
            }
          }
        }
        h2 {
          font-size: 16px;
          line-height: 20px;
          max-width: 200px;
          padding-bottom: 25px;
        }
        p {
          font-size: 14px;
          line-height: 18px;
          padding-bottom: 30px;
        }
  
        .explore-btn {
          display: flex;
          align-items: center;
          gap: 5px;
          button {
            font-size: 16px;
            line-height: 18px;
            gap: 10px;
          }
          i {
            color: #3d7eff;
            font-size: 16px;
          }
        }
      }
    }
  }
  @media (max-width: 700px) {
    .more-product-banner-section {
      padding: 80px 15px;
    }
    .heading-content {
      padding-bottom: 40px;
      h1 {
        font-size: 22px;
        line-height: 28px;
      }
    }
    .more-product-banner-main-content {
      max-width: 600px;
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      gap: 20px;
  
      .product-cart {
        max-width: 250px;
        padding: 40px 25px;
        margin: 0 auto;
        .image-content {
          gap: 10px;
          padding-bottom: 20px;
          .crm-image {
            max-width: 25px;
          }
          .content {
            h1 {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
        h2 {
          font-size: 14px;
          line-height: 18px;
          max-width: 200px;
          padding-bottom: 25px;
        }
        p {
          font-size: 12px;
          line-height: 16px;
          padding-bottom: 25px;
        }
  
        .explore-btn {
          display: flex;
          align-items: center;
          gap: 5px;
          button {
            font-size: 12px;
            line-height: 16px;
            gap: 7px;
          }
          i {
            color: #3d7eff;
            font-size: 12px;
          }
        }
      }
    }
  }
  