<main-header></main-header>
<section class="privacy-policy-section">
  <div class="container">
    <div class="policy-main">
      <h1 class="block-privacy__title">Community Guideline</h1>
      <div class="toc-section">
        <p><i>Effective as of: Mar 9, 2023</i></p>

        <p>
          Your privacy is extremely important to us. To better protect you, we
          provide this notice explaining our online information practices and
          the choices you can make about the way your information is collected
          and used.
        </p>

        <p>
          This Privacy Policy relates to information collected by Mango
          Technologies, Inc. DBA Vonome (referred to in this Privacy Policy as
          "Vonome" "we" or "us" or "our") through your use of our website and
          our Services, features, and information available on our website
          (which are collectively referred to in this Privacy Policy as the
          "Vonome Service").
        </p>
        <p>
          <b
            >If you do not agree to our use of your personal data in line with
            this policy, please do not use the Vonome Services.</b
          >
        </p>
      </div>

      <div class="toc-section" id="scope-of-policy">
        <div class="block-privacy__subtitle">Scope of this Privacy Policy</div>
        <p>
          Please be aware that this Privacy Policy does not govern all the
          information Vonome may process. Our commitment to customers and
          service providers is governed by a separate
          <a href="/dpa">Data Protection Addendum.</a> This Privacy Policy is
          also incorporated into and governed by our
          <a href="/terms">Terms of Use.</a> <br />
          Any capitalized words we use in this Privacy Policy that we haven’t
          defined here will have the same meaning that they’re given in our
          Terms of Use.
        </p>
        <p>
          Our commitments to employees are governed by our internal employment
          policies.
        </p>
        <p>
          In all instances we are committed to transparency with our customers,
          employees, and to protecting your data privacy.
        </p>
      </div>
      <div class="toc-section" id="what-info-we-collect">
        <div class="block-privacy__subtitle">
          What Information do we Collect?
        </div>
        <p>
          You will be required to establish an account in order to take
          advantage of certain features of the Vonome Service. If you wish to
          establish an account you will be required to provide us with
          information (including personally identifiable information and
          non-personally identifiable information). In addition, we may obtain
          your personally identifiable information from you if you identify
          yourself to us by sending us an e-mail with questions or comments.
        </p>
        <p>
          Depending on your use of the Vonome Service, we collect two types of
          information: <br />
          <em
            >personally identifiable information and non-personally identifiable
            information.</em
          >
        </p>

        <p>
          <b>Personally Identifiable Information</b><br />
          Personally identifiable information identifies you or can be used to
          identify or contact you. Examples of personally identifiable
          information may include your name, IP address, company name, job
          title, address, e-mail address, telephone number, and billing and
          credit card information.
        </p>

        <p>
          <b>Non-Personally Identifiable Information</b><br />
          Non-personally identifiable information is information, any single
          item of which, by itself, cannot be used to identify or contact you,
          which may include demographic information (such as age, profession,
          company industry, gender, current location, or zip code), IP
          addresses, browser types, domain names, and statistical data involving
          the use of the Vonome Service. Certain non-personally identifiable
          information may be considered a part of your personally identifiable
          information if it were combined with other identifiers (for example,
          combining your zip code with your street address) in a way that
          enables you to be identified. But the same pieces of information may
          be considered non-personally identifiable information when they are
          taken alone or combined only with other non-personally identifiable
          information (for example, your account preferences).
        </p>
      </div>
      <div class="toc-section" id="why-do-we-need-personal-data">
        <div class="block-privacy__subtitle">
          Why do we Need your Personal Data?
        </div>
        <p>
          We do not sell any data, including your personal data. We will only
          collect and process your personal data in accordance with applicable
          data protection and privacy laws. We need to collect and process
          certain personal data in order to provide you with access to Vonome.
          If you registered with us, you will have been asked to check a tick
          box indicating your agreement to provide this data in order to access
          our services. This consent provides us with the legal basis we require
          under applicable law to process your data. You maintain the right to
          withdraw such consent at any time.
        </p>

        <p id="info-auto">
          <b>Information we collect automatically when you use the Services:</b
          ><br />
          We collect information about you when you use our Services, such as
          browsing our websites and taking certain actions within the Services,
          including:
        </p>
        <ul class="block-privacy__ul_dots">
          <li>
            Your use of the Services: We keep track of certain information about
            you when you visit and interact with any of our Services. This
            information includes the features you use; the tasks, projects,
            teams and other links you click on; the type, size and filenames of
            attachments you upload to the Services; frequently used search
            terms; and how you interact with others on the Services. We also
            collect information about the teams and people you work with and how
            you interact with them, like who you collaborate and communicate
            with most frequently.
          </li>
          <li>
            Device and Connection Information: We collect information about your
            computer, phone, tablet, or other devices you use to access the
            Services. This device information includes your connection type and
            settings when you install, access, update, or use our Services. We
            also collect information through your device about your operating
            system, browser type, IP address, URLs of referring/exit pages,
            device identifiers, and crash data. We use your IP address and/or
            country preference in order to approximate your location to provide
            you with a better Service experience. How much of this information
            we collect depends on the type and settings of the device you use to
            access the Services.
          </li>
          <li>
            Cookies and Other Tracking Technologies: Vonome and our third-party
            partners, such as our advertising and analytics partners, use
            cookies and other tracking technologies (e.g., web beacons, device
            identifiers and pixels) to provide functionality and to recognize
            you across different Services and devices. For more information,
            please see our <a href="/cookies">Cookies and Tracking policy</a>,
            which includes information on how to control or opt out of these
            cookies and tracking technologies.
          </li>
          <li>
            Log files: We collect non-personally identifiable information
            through our Internet log files, which record data such as user IP
            addresses, browser types, domain names, and other anonymous
            statistical data involving the use of the Vonome Service. This
            information may be used to analyze trends, to administer the Vonome
            Service, to monitor the use of the Vonome Service, and to gather
            general demographic information. We may link this information to
            personally identifiable information for these and other purposes,
            such as personalizing your experience on the Vonome Service, and
            evaluating the Vonome Service in general.
          </li>
        </ul>
        <p></p>
        <p id="info-receive">
          <b>Information we receive from other sources</b><br />
          We receive information about you from other Service users, from third
          party services, and from our business and channel partners.
        </p>
        <ul class="block-privacy__ul_dots">
          <li>
            Other users of the Services: Other users of our Services may provide
            information about you when they submit content through the Services.
            For example, you may be mentioned by someone else on a task, or a
            team member may upload content about you to Vonome. We also receive
            your email address from other Service users when they provide it in
            order to invite you to the Services. Similarly, an administrator may
            provide your contact information when they designate you as another
            administrator for a task, team or an Enterprise or Unlimited
            Account.
          </li>
          <li>
            Other services you link to your account: We receive information
            about you when you or your administrator enable third-party apps or
            integrate or link a third-party service with our Services. For
            example, you or your administrator may also integrate our Services
            with other services you use, such as to allow you to access, store,
            share and edit certain content from a third-party through our
            Services. For example, you may authorize our Services to access and
            display files from a third-party document-sharing service within the
            Services interface. The information we receive when you link or
            integrate our Services with a third-party service depends on the
            settings, permissions and privacy policy controlled by that
            third-party service. You should always check the privacy settings
            and notices in these third-party services to understand what data
            may be disclosed to us or shared with our Services.
          </li>
          <li>
            Other partners: We may receive information about you and your
            activities on and off the Services from third-party partners, such
            as advertising and market research partners who provide us with
            information about your interest in, and engagement with, our
            Services and online advertisements, or in cases where you give such
            third parties permission to share information with us or where the
            information is publicly available online or through your device or
            browser data.
          </li>
          <li>
            Vonome's use of information received, and Vonome's transfer of
            information to any other app, from Google APIs will adhere to
            Google's
            <a
              href="https://developers.google.com/terms/api-services-user-data-policy#additional_requirements_for_specific_api_scopes"
              target="_blank"
              class="section__link_underline"
              rel="nofollow noopener noreferrer"
              >API Services User Data Policy</a
            >, including the Limited Use Requirements.
          </li>
        </ul>
        <p></p>
      </div>
      <div class="toc-section" id="your-rights">
        <div class="block-privacy__subtitle">Your Rights</div>
        <p id="info-collected">
          <b>Where and when is information collected?</b><br />
          Opt-out: You may contact us anytime to opt-out of: (i) direct
          marketing communications; (ii) automated decision-making and/or
          profiling; (iii) our collection of sensitive personal data, if any; or
          (iv) any new processing of your personal data that we may carry out
          beyond the original purpose. Please note that your use of some of the
          platform may be ineffective upon opt-out. <br />
          Access: You may access the data we hold about you at any time by
          exporting your Team’s data (if you are an admin) or by contacting us
          directly. <br />
          Amend: You can also contact us to update or correct any inaccuracies
          in your personal data.
          <br />
          Move: Your data is portable – i.e. you have the flexibility to move
          your data to other service providers as you wish.<br />
          Erase and Forget: In certain situations, for example when the data we
          hold about you is no longer relevant or is incorrect, you can request
          that we erase your data.
          <br />
          You may contact us at help@vonome.com or via mail or courier 350 Tenth
          Ave 5th floor, San Diego, CA 92101 anytime for any other questions you
          may have about your personal data and our use of such personal data.
        </p>
      </div>
      <div class="toc-section" id="where-data-transfer">
        <div class="block-privacy__subtitle">
          Where will Data be Transferred?
        </div>
        <p>
          Your data, including personal data that we collect from you, may be
          transferred to, stored at and processed by us and other third parties
          outside the country in which you reside, including, but not limited to
          the United States, where data protection and privacy regulations may
          not offer the same level of protection as in other parts of the world.
          By using our platform, you agree to this transfer, storing or
          processing subject to the terms of our Data Protection Addendum. We
          will take all steps reasonably necessary to ensure that your data is
          treated securely and in accordance with this policy. Except as
          otherwise provided in our Data Protection Addendum, your team's
          project and task data will never be transferred to third parties. The
          only data we share with third parties is for analytics, error
          tracking, and marketing.
        </p>
      </div>
      <div class="toc-section" id="data-stored">
        <div class="block-privacy__subtitle">How Long will Data be Stored?</div>
        <p>
          We will only retain your personal data as long as reasonably required
          for you to use the Site/Application(s) and/or to provide you with the
          Services unless a longer retention period is required or permitted by
          law (for example, for regulatory purposes).
        </p>
      </div>
      <div class="toc-section" id="collect-info-children">
        <div class="block-privacy__subtitle">
          Do we Collect Information from Children under 16 years of age?
        </div>
        <p>
          We are committed to protecting the privacy of children. The Vonome
          Service is not designed for or directed to children under the age of
          16. We do not collect personally identifiable information from any
          person we actually know is under the age of 16.
        </p>
      </div>
      <div class="toc-section" id="info-we-collect">
        <div class="block-privacy__subtitle">
          What do we do with the information we Collect?
        </div>
        <p>
          In general, we use the information collected to provide you with a
          great overall experience using the Vonome Service, to help us
          understand who uses the Vonome Service, for internal operations such
          as operating and improving the Vonome Service, to contact you for
          customer service and billing purposes, and to facilitate the delivery
          of our advertising in some cases.
        </p>
        <p>
          We use your information to send you a welcome e-mail after you create
          an account, when you are invited to Vonome, or when you sign up for a
          demo, webinar or to receive our newsletter. We may also use your
          information to send other e-mail communication related to the Vonome
          website and to give you the option to reactivate an inactive account.
          When required, we will always give you the option to unsubscribe in
          any email we send you.
        </p>
        <p>
          We may also use the information gathered to perform statistical
          analysis of user behavior or to evaluate and improve the Vonome
          Service. We may link some of this information to personally
          identifiable information for internal purposes or to improve your
          experience with the Vonome Service.
        </p>
      </div>
      <div class="toc-section" id="disclose-info">
        <div class="block-privacy__subtitle">
          When do we Disclose Information to Third Parties?
        </div>
        <p>
          Except as set forth in this Privacy Policy, the
          <a href="/cookies">Cookie Policy</a>, or the Vonome
          <a href="/dpa">Data Protection Addendum</a> or as specifically
          authorized by you, we will not disclose any information to third
          parties outside of Vonome.
        </p>
        <p>
          <b>Laws and Legal Rights</b><br />
          We may disclose your information (including personally identifiable
          information) if we believe in good faith that we are required to do so
          in order to comply with an applicable statute, regulation, rule or
          law, a subpoena, a search warrant, a court or regulatory order, or
          other valid legal process. We may disclose personally identifiable
          information in special circumstances when we have reason to believe
          that disclosing this information is necessary to identify, contact, or
          bring legal action against someone who may be violating our Terms of
          Service, to detect fraud, or to protect the safety and/or security of
          our users, the Vonome Service or the general public. We are subject to
          the investigatory and enforcement powers of the Federal Trade
          Commission (FTC).
        </p>
        <p>
          We also may be required to disclose an individual’s personal
          information in response to a lawful request by public authorities,
          including to meet national security or law enforcement requirements.
        </p>

        <p>
          <b>Outside Contractors</b><br />
          We may employ independent contractors, vendors and suppliers
          (collectively, "Outside Contractors") to provide specific services and
          products related to the Vonome Service, such as hosting, credit card
          processing and fraud screening, and mailing list hosting for the
          Vonome Service. In the course of providing products or services to us,
          these Outside Contractors may have access to information collected
          through the Vonome Service, including your personally identifiable
          information. We require that these contractors agree to (1) protect
          the privacy of your personally identifiable information consistent
          with this Privacy Policy or the
          <a href="/dpa">Data Protection Addendum</a> and (2) not use or
          disclose your personally identifiable information for any purpose
          other than providing us with the products or services for which we
          contracted or as required by law. Please see our Data Protection
          Addendum for more information about subprocessors.
        </p>

        <p>
          <b>Sale of Business</b><br />
          We reserve the right to transfer information to a third party in the
          event of a sale, merger or other transfer of all or substantially all
          of the assets of Vonome or any of its Corporate Affiliates (as defined
          herein), or that portion of Vonome or any of its Corporate Affiliates
          to which the Service relates, or in the event that we discontinue our
          business or file a petition or have filed against us a petition in
          bankruptcy, reorganization or similar proceeding, provided that the
          third party agrees to adhere to the terms of this Privacy Policy.
        </p>

        <p>
          <b>Affiliates</b><br />
          We may disclose information (including personally identifiable
          information) about you to our Corporate Affiliates. For purposes of
          this Privacy Policy, "Corporate Affiliate" means any person or entity
          which directly or indirectly controls, is controlled by or is under
          common control with Vonome, whether by ownership or otherwise. Any
          information relating to you that we provide to our Corporate
          Affiliates will be treated by those Corporate Affiliates in accordance
          with the terms of this Privacy Policy.
        </p>

        <p>
          <b
            >Does this Privacy Policy apply when I link to other websites or
            services?</b
          ><br />
          The Vonome Service may provide you with access to other websites and
          services. Please be aware that we are not responsible for the privacy
          practices of any websites or services other than the Vonome Service.
          We encourage you to read the privacy policies or statements of each
          and every such website and service. This Privacy Policy applies solely
          to information collected by us through the Vonome Service.
        </p>

        <p>
          <b>Is the information collected through the Vonome Service secure?</b
          ><br />
          We take precautions to protect the security of your information. We
          have physical, electronic, and managerial procedures to help
          safeguard, prevent unauthorized access, maintain data security, and
          correctly use your information. However, neither people nor security
          systems are foolproof, including encryption systems. In addition,
          people can commit intentional crimes, make mistakes or fail to follow
          policies. If applicable law imposes any non-disclaimable duty to
          protect your personally identifiable information, you agree that
          intentional misconduct will be the standards used to measure our
          compliance with that duty. For more information about our policies and
          standards used to ensure security, please see our
          <a href="/security-policy">Security Policy</a>.
        </p>
      </div>
      <div class="toc-section" id="info-transfer-to-other-countries">
        <div class="block-privacy__subtitle">
          Could my Information be Transferred to other Countries?
        </div>
        <p>
          Personally identifiable information collected on the Vonome Service
          may be transferred from time to time to our offices or personnel, or
          to third parties, located throughout the world, and the Vonome Service
          may be viewed and hosted anywhere in the world, including countries
          that may not have laws of general applicability regulating the use and
          transfer of such data. To the fullest extent allowed by applicable
          law, by using the Vonome Service and submitting such information on
          it, you voluntarily consent to the trans-border transfer and hosting
          of such information. To the fullest extent allowed by applicable law,
          if you are a User accessing the Vonome Service from a jurisdiction
          with laws or regulations governing personal data collection, use, and
          disclosure that differ from those of the United States, please be
          advised that all aspects of the Vonome Service are governed by the
          internal laws of the United States and the State of California, USA,
          regardless of your location.
        </p>
      </div>
      <div class="toc-section" id="privacy-shield-framework">
        <div class="block-privacy__subtitle">
          EU-U.S. Privacy Shield Framework
        </div>
        <p>
          While we acknowledge that the EU-US Privacy Shield Framework as set
          forth by the US Department of Commerce regarding the collection, use,
          and retention of personal information from European Union member
          countries may no longer be a valid transfer mechanism for data
          transfers to the European Economic Area, we nevertheless comply with
          the principles contained therein as additional measures to protect our
          users’ privacy. We have certified that Vonome adheres to the Privacy
          Shield Principles of Notice, Choice, Accountability for Onward
          Transfer, Security, Data Integrity and Purpose Limitation, Access, and
          Recourse, Enforcement and Liability. If there is any conflict between
          the policies in this Privacy Policy and the Privacy Shield Principles,
          the more restrictive policy shall govern. To learn more about the
          Privacy Shield Program, and to view our certification page, please
          visit
          <a
            href="https://www.privacyshield.gov/"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >https://www.privacyshield.gov/</a
          >
          .
        </p>
        <p>
          In compliance with the EU-US Privacy Shield Principles, we commit to
          resolve complaints about your privacy and our collection or use of
          your personal information. European Union individuals with inquiries
          or complaints regarding this privacy policy should first contact us at
          help@vonome.com.
        </p>
        <p>
          We have further committed to cooperate with EU Data Protection
          Authorities (DPAs) with regard to unresolved Privacy Shield
          complaints. If you do not receive timely acknowledgment of your
          complaint from us, or if we have not addressed your complaint to your
          satisfaction, please contact the EU DPAs for more information or to
          file a complaint. The services of EU DPAs are provided at no cost to
          you. <br /><br />
          As further explained in the Privacy Shield Principles, a binding
          arbitration option will also be made available to you in order to
          address residual complaints that are not resolved by other means set
          forth above.
        </p>
        <p>
          In cases of onward transfer to third parties of Personal Data received
          pursuant to the EU-U.S. Privacy Shield, Vonome is potentially liable.
          Please see our <a href="/dpa" class="section__link_underline">DPA</a>
          for more details.
        </p>
      </div>
      <div class="toc-section" id="ca-privacy-rights">
        <div class="block-privacy__subtitle">California Privacy Rights</div>
        <p>
          Vonome complies with the California Consumer Privacy Act (referred to
          in this Privacy Policy as “CCPA”) as amended by the California Privacy
          Rights Act (“CPRA”) as set forth by the State of California. If the
          CCPA applies to your personal information this Privacy Policy provides
          you with information regarding how to receive information about our
          privacy practices, as well as request access to, and deletion of your
          personal information.
        </p>
        <p>
          Vonome does not sell the personal information we collect. We only
          share your personal information as described in this Privacy Policy.
          For detailed information about the personal information we have
          collected over the last 12 months, and the categories of sources of
          such information, please see the
          <a href="#info-auto"
            >“Information we collect automatically when you use the Services”
            and “Information we receive from other sources”</a
          >. We collect this information for business purposes set forth in the
          <a href="#info-collected"
            >“What do we do with the information we Collect?”</a
          >. We share this information with the categories of third parties as
          set forth in the
          <a href="#disclose-info"
            >“When do we Disclose Information to Third Parties?”</a
          >
          Please note that we do use third-party cookies as further set forth in
          the <a href="/cookies">“Cookie Policy.”</a>
        </p>
        <p>
          California consumers may make a request pursuant to their rights under
          the CCPA by contacting
          <a href="mailto:help@vonome.com">help@vonome.com</a>. Upon receiving a
          request, we will verify your request using the information associated
          with the Vonome Services, including your email address. Government
          identification may be required. Consumer can also designate an
          authorized agent to exercise these rights on the consumer’s behalf.
        </p>
      </div>
      <div class="toc-section" id="choices">
        <div class="block-privacy__subtitle">
          What Choices do I have regarding the Collection, Disclosure and
          Distribution of Personally Identifiable Information?
        </div>
        <p>
          Except as otherwise described in this Privacy Policy or in the Data
          Protection Addendum, we will only use personally identifiable
          information for the purposes described above, or as otherwise
          disclosed at the time we request such information from you. You must
          "opt in" and give us permission to use your personally identifiable
          information for any other purpose. You may also change your preference
          and "opt out" of receiving certain marketing communications from us by
          clicking the unsubscribe link included at the bottom of all such
          communications, by visiting
          <a href="/remove" style="color: #4c8af0">vonome.com/remove</a>, or by
          <a href="mailto:help@vonome.com" style="color: #4c8af0"
            >contacting us via email</a
          >.
        </p>
        <p>
          <b>Do Not Track</b><br />
          The term "Do Not Track" refers to an HTTP header offered by certain
          web browsers to request that websites refrain from tracking the user.
          We take no action in response to Do Not Track requests.
        </p>
        <p>
          <b>Can I update or correct my personally identifiable information?</b
          ><br />
          The rights you have to request updates or corrections to the
          information Vonome collects depend on your relationship with Vonome.
        </p>
        <p>
          Customers have the right to request the restriction of certain uses
          and disclosures of personally identifiable information as follows. You
          can contact us in order to (1) update or correct your personally
          identifiable information, (2) change your preferences with respect to
          communications and other information you receive from us, or (3)
          delete the personally identifiable information maintained about you in
          our systems (subject to the following paragraph), up to and including
          by deleting your team. Such updates, corrections, changes and
          deletions will have no effect on other information that we maintain,
          or information that we have provided to third parties in accordance
          with this Privacy Policy prior to such update, correction, change or
          deletion. To protect your privacy and security, we may take reasonable
          steps (such as requesting a unique password) to verify your identity
          before granting you profile access or making corrections. You are
          responsible for maintaining the secrecy of your unique password and
          account information at all times.
        </p>

        <p>
          You should be aware that it is not technologically possible to remove
          each and every record of the information you have provided to us from
          our system. The need to back up our systems to protect information
          from inadvertent loss means that a copy of in a non-erasable form that
          will be difficult or impossible for us to locate. Promptly after
          receiving your request, all personal information stored in databases
          we actively use, and other readily searchable media will be updated,
          corrected, changed or deleted, as appropriate, as soon as and to the
          extent reasonably and technically practicable.
        </p>

        <p>
          If you are an end user in a Workspace not owned by you and wish to
          update, delete, or receive any information we have about you, you may
          do so by contacting the organization who owns your Vonome Workspace.
        </p>

        <p>
          <b>How will I know if there are any changes to this Privacy Policy?</b
          ><br />
          We may revise this Privacy Policy from time to time. We will not make
          changes that result in significant additional uses or disclosures of
          your personally identifiable information without notifying you of such
          changes via email. We may also make non-significant changes to this
          Privacy Policy that generally will not significantly affect our use of
          your personally identifiable information, for which an email is not
          required. We encourage you to check this page periodically for any
          changes. If any non-significant changes to this Privacy Policy are
          unacceptable to you, you must immediately contact us and, stop using
          the Vonome Service until the issue is resolved. Your continued use of
          the Vonome Service following the posting of non-significant changes to
          this Privacy Policy constitutes your acceptance of those changes.
        </p>
      </div>
      <div class="toc-section" id="contact">
        <div class="block-privacy__subtitle">
          Whom do I Contact if I have any Privacy Questions?
        </div>
        <p>
          If you have any questions or comments about this Privacy Policy or
          feel that we are not abiding by the terms of this Privacy Policy,
          please contact our Privacy Agent in any of the following ways:
        </p>
        <p style="margin-left: 36pt">
          – By email:
          <a href="mailto:help@vonome.com" style="color: #4c8af0"
            >help@vonome.com </a
          ><br />
          – By postal mail or courier:<br />
          <span style="margin-left: 20pt">ATTN: Privacy Agent Vonome</span
          ><br />
          <span style="margin-left: 20pt"
            >5th floor,Block B, 2218, Rd no. 3, 13 Shagufta Housing</span
          ><br />
          <span style="margin-left: 20pt">Dhaka 1214 Bangladesh, 1216</span>
        </p>
        <p>
          Subject to the next paragraph, we ask that you not send or disclose to
          us any sensitive personal data (e.g., social security numbers,
          information related to racial or ethnic origin, political opinions,
          religion or other beliefs, health, biometrics or genetic
          characteristics, criminal background or trade union membership) on or
          through the Vonome Services or otherwise.
        </p>
        <p>
          If you send or disclose any sensitive personal data to us when you
          submit user-generated content to the Vonome Services, you consent to
          our processing and use of such sensitive personal data in accordance
          with this policy. If you do not consent to our processing and use of
          such sensitive personal data, you must not submit such user generated
          content to our platform.
        </p>
        <p>
          <b
            >By using the Vonome Service, you signify your acceptance of this
            Privacy Policy. If you do not agree to this Privacy Policy, you
            should not use the Vonome Service. Continued use of the Vonome
            Service following the posting of changes to this Privacy Policy that
            do not significantly affect the use or disclosure of your personally
            identifiable information will mean that you accept those changes.</b
          >
        </p>
      </div>
    </div>
  </div>
</section>
<web-main-footer></web-main-footer>
